// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/codemirror/lib/codemirror';
html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Muli', sans-serif;
	background: #FFBC42;
}
.view, .editor {
	display: inline-block;
	width : 50%;
	vertical-align: top;
	height : 85vh;
	box-sizing: border-box;
}
.view{
	padding : 0 0.5em;
	overflow: auto;
	background: #EFFFE9;
}
.CodeMirror {
	box-sizing: border-box;
	height : 85vh;
}

.editorHeader {
	padding: 0.5%;
	background-color: #218380;
	min-height: 15vh;
	box-sizing: border-box;
}

a {
	color: #000;
}
.titleInput {
	display: block;
	width : 40%;
	text-align : center;
	margin:auto;
	padding: 0.3em;
	font-size: 1.3em;
}
button {
	padding: 0.3em 0.5em;
	border-radius: 0.2em;
	margin-bottom : 0.5em;
	border-style: none;
	background-color: #2EC4B6;
	color: #EFFFE9;
}

input[type= 'file']{
	margin: 1em 0;
}
.fileBox {
	margin-top: 0.5em;
}
ul li {
	cursor: pointer;
	color: #fff;
	font-size: 0.9em;
	list-style-type: none;
	border-bottom : 1px solid #8F2D56;
	padding: 0.3em;
}
ul {
	padding: 0.1em;
}
.menu {
	position: absolute;
	background: #1E6F6C;
	width: 20%;
	padding: 1em;
	overflow: auto;
}
.menuBtn {
	border-style: none;
	background-color: #D81159;
	margin: auto;
	color: #EFFFE9;
	font-size: 1em;
	padding: 0.5em 2em;
}