// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/codemirror/lib/codemirror';
body {
	font-family: 'Muli', sans-serif;
	background: #AEADB1;
}
.view, .editor {
	display: inline-block;
	width : 50%;
	vertical-align: top;
	height : 600px;
	box-sizing: border-box;
}
.view div{
	box-sizing: border-box;
	padding : 1%;
	overflow: auto;
	height : 600px;
	background: #EEEEEE;
}
.CodeMirror {
	height : 600px;
}
header h1, .view > h2, .editor > h2 {
	text-align: center;
}
header h1 {
	color: #BF0727;
	font-size: 3em;
	font-family: 'Josefin Sans';
}
.editor > h2, .view > h2 {
	color: #fff;
}
header {
	background-color: #E6E4E4;
	padding: 0.5%;
}
.editorHeader {
	border-top: 1px solid #fff;
	padding: 0.5%;
	background-color: #E6E4E4;
	text-align: right;
}
.editorHeader form{
	text-align: left;
	width: 40%;
}
.editorHeader a {
	color: #AF1637;
}